body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom right,pink,rgb(199, 73, 199));
  width: 100vw;
  min-height: 100vh;
}
    .header {
    padding: 150px; /* some padding */
    text-align: center; /* center the text */
    /*background: linear-gradient(to bottom right, pink,rgba(255, 0, 0, 0.858)) ;*/
    color: white;
    font-size: 20px;
  }

  .header h1 {
  font-size: 40px;
  color: white;
  
 }

 .header h2 {
  font-size: 20px;
  color: BLACK;
  
 }

  .button1{
    font-size: 1.5rem;
    width: 12rem;
    text-align: center;
    margin-bottom: 4rem;
    color: black;
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 370px;
    left: 390px;
    padding: 7px;
  }

  .button1:hover{
    cursor: pointer;
    
  }

  .button2{
    font-size: 1.5rem;
    width: 12rem;
    text-align: center;
    margin-bottom: 4rem;
    color: black;
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 370px;
    left: 650px;
    padding: 7px;
  }

  .button2:hover{
    cursor: pointer;
    
  }
  
  .infobtn {
    font-size: 2.5rem;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
    color: rgb(231, 34, 110);
    float: right;
    position:absolute;
    top : 40px;
    right : 70px;
    text-align: center;
  }

  .logOut{
    font-size: 1.5rem;
    width: 10rem;
    text-align: center;
    margin-bottom: 4rem;
    color: rgb(231, 34, 110);
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 4px;
  }
  .logOut:hover{
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    color:black;
  }
