body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom right, pink,rgba(255, 0, 0, 0.858)) ;
    width: 100vw;
    min-height: 100vh;
  }
      .header {
      padding: 80px; /* some padding */
      text-align: center; /* center the text */
      /*background: #f5c1c1; */
      color: white; 
    }
  
    .header h1 {
    font-size: 40px;
  }
  
    .button{
      font-size: 1.2rem;
      width: 20rem;
      text-align: center;
      margin-bottom: 1rem;
      border: 0.1rem solid white;
      border-radius: 4px;
      color: black;
      background-color: white;
      justify-content: center;
      display:inline-block; 
      margin: 20px 25px 15px 20px;
      padding: 8px;
    }
  
    .button:hover{
      cursor: pointer;
      
    }

    input[type=button] {
      font-size: 2rem;
      display:block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: none;
      border: 2px solid white;
      color: white;
      float: right;
      position:absolute;
      top : 20px;
      left : 20px;
      text-align: center;
      cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: white;
    border: 2px solid white;
    color:black;
  }
  